{% extends 'events/base.html' %}

{% block content %}

<div class="container">
    <h1>Delete Event</h1>

    <p>
        Are you sure you want to delete Event 
        <strong>{{ event.title }}</strong>?
    </p>

    <form method="post">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger">
            Yes, Delete Event
        </button>

        <a href="{% url 'event_detail' event.id %}" class="btn btn-secondary">
            Cancel
        </a>
    </form>
</div>

{% endblock %}