{% extends 'events/base.html' %}

{% block content %}

    <h1> Campus Events</h1>
    
    {% if events %}
        {% for event in events %}
        
            <div>
                <h2> {{ event.title }}</a></h2>
                <p>{{ event.description }}</p>
                <p>Date: {{ event.date }}</p>
                <p>Location: {{ event.location }}</p>
                <a href="{% url 'event_detail' event.id %}">View Details</a>
            </div>   

        {% endfor %}
    {% else %}
        <p>No events available.</p>
    {% endif %}
    
{% endblock %}